%h4= I18n.t('stash.labels.share_links')
%table.table.table-hover
  %tbody
    - @stash.tokens.each do |token|
      %tr
        - link = "#{App.scheme}://#{App.host}/t/#{token}"
        %td= link_to link, link
