<h1>Stash List</h1>
<table>
  <thead>
    <tr>
      <th>UUID</th>
      <th>Download</th>
      <th>Delete</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @stashes.each do |stash| %>
      <tr>
        <td><%= stash.uuid %></td>
        <td><%= link_to 'Download', rails_blob_path(stash.attachment, disposition: 'attachment') if stash.attachment.attached? %></td>
        <td><%= link_to "Delete", stash_path(stash.uuid), data: {"turbo-method": :delete} %></td>
        <td><%= stash.created_at %></td>
        <td><%= stash.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
