<h1>Stash Detail</h1>
<% if @stash.present? %>
  <% blob = @stash.attachment.blob %>
  <p>File Name: <%= blob.filename %></p>
  <p>File Size: <%= blob.byte_size %></p>
  <p>File Type: <%= blob.content_type %></p>
  <%= link_to "Download", rails_blob_path(blob, disposition: "attachment") %>
  <%= link_to "Share", share_stash_path(@stash.uuid), data: {"turbo-method": :put} %>

  <%= render 'share' %>
<% end%>
