.row
  .col-md-8.offset-md-2
    .stash-info
      - if @stash.present? && @stash.attachment.attached?
        - attachment = @stash.attachment
        %h2= @stash.filename
        .stash-preview
          - if attachment.previewable?
            = image_tag(attachment.preview(resize_to_fit: [400, nil]))
          - elsif attachment.variable?
            = image_tag(attachment.variant(resize_to_fit: [400, nil]))
          - else
            %p.text-secondary= I18n.t('stash.messages.no_preview')
        %table.table.table-hover
          %tbody
            %tr
              %td=I18n.t('stash.attributes.byte_size')
              %td= attachment.blob.byte_size
            %tr
              %td=I18n.t('stash.attributes.content_type')
              %td= attachment.blob.content_type
            %tr
              %td=Stash.human_attribute_name(:created_at)
              %td= localized_datetime(attachment.blob.created_at)
        = link_to I18n.t('stash.buttons.download'), rails_blob_path(attachment.blob, disposition: "attachment"), class: "btn btn-outline-dark"
        = link_to I18n.t('stash.buttons.share'), share_stash_path(@stash.uuid), data: {"turbo-method": :put}, class: 'btn btn-outline-dark'
  .stash-share
    = render 'share'
